
.box-hover:hover {
  transform: translateY(-3px);
  transition: 0.3s;
color: white;
}

.table-header {
  padding: 10px;
  border-right: 1px solid #ddd;
  background-color: #0b4f6c;
  color: white;
  position: sticky;
  top: 0;
  z-index: 10;
}


/* Container */
.data-output-container {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  background-color: #0b4f6c;
  padding: 8px 12px;
  border-radius: 8px;
  color: white;
}

/* Heading */
.data-output-title {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}

.spinner {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #0b4f6c;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  animation: spin 1s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}